/* font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

/* /* {
  outline: 3px solid green;
} */



html,body {
  box-sizing: border-box;
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
}

.rj-nav {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  background-color: #2364;
 
  width: 100%;
}

.rj-nav ul {
  padding: 1em 0;
  margin-right: 2rem;
}

.rj-nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
  letter-spacing: 2px;
}

.rj-nav ul li a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 1.75rem;
}

.rj-nav a:hover {
  color: #3fa7;
  transition: 0.15s ease-in;
}

.landing {
  background: url('../img/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100%;
  width: 100%;
 
}

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #0007;
}

.landing-header,.landing-header-sec {
  margin: 0;
  font-weight: 100;
  color: #fafafa;
  
}

.landing-header  {
  font-size: 3.5rem;
}

.landing-header-sec {
  font-size: 3rem;
}

.rj-btn-login {
  border: 1px solid #fafafa;
  padding: 0.5rem 2rem;
}

.login {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 20%;
}

.login-wrapper {

  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.login-wrapper input {
  width: 200px;
  height: 2rem;
  border: 1px solid #ccc9;
  background-color: #f0f0f0;
  font-size: 1.24rem;
  display: block;
  position: relative;
  margin: 2.2rem auto;
}

input::placeholder {
  color: #a1a1a1;
}

.login-wrapper h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

#submit {

  width: 200px;
  height: 42px;
  border-radius: 4px;
  font-size: 1.25rem;
  display: block;
  background-color: #000;
  color: #fafafa;
}
#submit:hover {

  width: 200px;
  height: 42px;
  border-radius: 4px;
  font-size: 1.25rem;
  display: block;
  background-color: #fafafa;
  color: #000;
  transition: 0.15s ease-in;
}

.options a {
  color: #006366;
}

.options a:hover {
  color: #000;
  text-decoration: none;
  transition: 0.15s ease-in;
}